<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
		
	
	<bean id="blockDAO" class="kr.or.kosta.bookchange.member.BlockDAO">
		<property name="sqlSessionTemplate">
      	  <ref bean="sqlSessionTemplate"/>
    	</property>
	</bean>
		
	<bean id="BlockService" class="kr.or.kosta.bookchange.member.BlockService">
	 <constructor-arg>
	  <ref bean="blockDAO"/>
	 </constructor-arg>
	</bean>

	<bean id="dealDAO" class="kr.or.kosta.bookchange.board.DealDAO">
		<property name="sqlSessionTemplate">
      	  <ref bean="sqlSessionTemplate"/>
    	</property>
	</bean>
	<bean id="categoryDAO" class="kr.or.kosta.bookchange.board.CategoryDAO">
		<property name="sqlSessionTemplate">
      	  <ref bean="sqlSessionTemplate"/>
    	</property>
	</bean>
	<bean id="boardDAO" class="kr.or.kosta.bookchange.board.BoardDAO">
		<property name="sqlSessionTemplate">
      	  <ref bean="sqlSessionTemplate"/>
    	</property>
	</bean>
	<bean id="BoardService" class="kr.or.kosta.bookchange.board.BoardService">
	 <constructor-arg>
	  <ref bean="boardDAO"/>
	 </constructor-arg>
	 <constructor-arg>
	  <ref bean="categoryDAO"/>
	 </constructor-arg>
	 <constructor-arg>
	  <ref bean="dealDAO"/>
	 </constructor-arg>
	 <constructor-arg>
	  <ref bean="qaDAO"/>
	 </constructor-arg>
	</bean>	
	<bean id="qaDAO" class="kr.or.kosta.bookchange.board.QaDAO">
		<property name="sqlSessionTemplate">
      	  <ref bean="sqlSessionTemplate"/>
    	</property>
	</bean>
	<bean id="QaService" class="kr.or.kosta.bookchange.board.QaService">
	 <constructor-arg>
	  <ref bean="qaDAO"/>
	 </constructor-arg>
	</bean>
	
	<bean id="changeDAO" class="kr.or.kosta.bookchange.change.ChangeDAO">
		<property name="sqlSessionTemplate">
      	  <ref bean="sqlSessionTemplate"/>
    	</property>
	</bean>
	<bean id="ChangeService" class="kr.or.kosta.bookchange.change.ChangeService">
	 <constructor-arg>
	  <ref bean="changeDAO"/>
	 </constructor-arg>
	</bean>
	
	<bean id="memberDAO" class="kr.or.kosta.bookchange.member.MemberDAO">
		<property name="sqlSessionTemplate">
      	  <ref bean="sqlSessionTemplate"/>
    	</property>
	</bean>
	<bean id="MemberService" class="kr.or.kosta.bookchange.member.MemberService">
	 <constructor-arg>
	  <ref bean="memberDAO"/>
	 </constructor-arg>
	</bean>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
	<property name="url" value="jdbc:oracle:thin:@192.168.0.81:1521:XE"/>
    <property name="username" value="first"/>
    <property name="password" value="tiger"/>

  </bean>
  
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="configLocation" value="/WEB-INF/classes/sqlmap-config.xml"/>
  </bean>
  
  <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
  	 <constructor-arg ref="sqlSessionFactory"/>
  </bean>
  
   <bean id="errorlog" class="kr.or.kosta.aop.ExceptionAdvice"/>	 
	<aop:config proxy-target-class="true">
 	<aop:aspect id="logginAspect1" ref="errorlog"> 
		<aop:pointcut id="publicmethod1" expression="execution(* kr.or.kosta.*.*Service.*(..))"/>		
		<aop:around pointcut-ref="publicmethod1" method="aroundException"/>
	</aop:aspect>
    </aop:config>
 	
	<bean id="loginlog" class="kr.or.kosta.aop.LoginAdvice"/>
	<aop:config proxy-target-class="true">
 	<aop:aspect id="logginAspect1" ref="loginlog"> 
		<aop:pointcut id="publicmethod1" expression="execution(* kr.or.kosta.*.*Service.viewMember(..))"/>
		<aop:pointcut id="publicmethod2" expression="execution(* kr.or.kosta.*.*Service.addBoardForm(..))"/>		
		<aop:around pointcut-ref="publicmethod1" method="aroundLogin"/>
		<aop:around pointcut-ref="publicmethod2" method="aroundLogin"/>
	</aop:aspect>
    </aop:config>
  
  
</beans>
