<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookchange</display-name>
    <filter>
  	<filter-name>struts2</filter-name>
	<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>struts2</filter-name>
	<url-pattern>/*</url-pattern>	
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardService</display-name>
    <servlet-name>BoardService</servlet-name>
    <servlet-class>kr.or.kosta.bookchange.board.BoardService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardService</servlet-name>
    <url-pattern>/BoardService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberService</display-name>
    <servlet-name>MemberService</servlet-name>
    <servlet-class>kr.or.kosta.bookchange.member.MemberService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberService</servlet-name>
    <url-pattern>/MemberService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeService</display-name>
    <servlet-name>ChangeService</servlet-name>
    <servlet-class>kr.or.kosta.bookchange.change.ChangeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeService</servlet-name>
    <url-pattern>/ChangeService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>kr.or.kosta.file.receive.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>QaService</display-name>
    <servlet-name>QaService</servlet-name>
    <servlet-class>kr.or.kosta.bookchange.board.QaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QaService</servlet-name>
    <url-pattern>/QaService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BlockService</display-name>
    <servlet-name>BlockService</servlet-name>
    <servlet-class>kr.or.kosta.bookchange.member.BlockService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockService</servlet-name>
    <url-pattern>/BlockService</url-pattern>
  </servlet-mapping>
  
</web-app>