<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>betting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberService</display-name>
    <servlet-name>MemberService</servlet-name>
    <servlet-class>kr.or.kosta.betting.member.MemberService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberService</servlet-name>
    <url-pattern>/MemberService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatchService</display-name>
    <servlet-name>MatchService</servlet-name>
    <servlet-class>kr.or.kosta.betting.match.MatchService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchService</servlet-name>
    <url-pattern>/MatchService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BettingService</display-name>
    <servlet-name>BettingService</servlet-name>
    <servlet-class>kr.or.kosta.betting.betting.BettingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BettingService</servlet-name>
    <url-pattern>/BettingService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberBetDataService</display-name>
    <servlet-name>MemberBetDataService</servlet-name>
    <servlet-class>kr.or.kosta.betting.memberbetdata.MemberBetDataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberBetDataService</servlet-name>
    <url-pattern>/MemberBetDataService</url-pattern>
  </servlet-mapping>
  
</web-app>