<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="movieDAO" class="kr.or.kosta.moviesystem.movie.MovieDAO"/>
	<bean id="movieService" class="kr.or.kosta.moviesystem.movie.MovieService">
		<constructor-arg>
			<ref bean="movieDAO"/>
		</constructor-arg>
	</bean>
	<bean id="goodDAO" class="kr.or.kosta.moviesystem.good.GoodDAO"/>
	<bean id="goodService" class="kr.or.kosta.moviesystem.good.GoodService">
	<constructor-arg>
		<ref bean="goodDAO"/>
	</constructor-arg>
	</bean>
		<bean id="buyDAO" class="kr.or.kosta.moviesystem.buy.BuyDAO"/>
	<bean id="buyService" class="kr.or.kosta.moviesystem.buy.BuyService">
	<constructor-arg>
		<ref bean="buyDAO"/>
	</constructor-arg>
	</bean>
</beans>
