<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>moviesystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	
   <description></description>
    <display-name>MemberService</display-name>
    <servlet-name>MemberService</servlet-name>
    <servlet-class>kr.or.kosta.moviesystem.member.MemberService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberService</servlet-name>
    <url-pattern>/MemberService</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>GoodService</display-name>
    <servlet-name>GoodService</servlet-name>
    <servlet-class>kr.or.kosta.moviesystem.good.GoodService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodService</servlet-name>
    <url-pattern>/GoodService</url-pattern>
  </servlet-mapping>
  

   <servlet>
    <description></description>
    <display-name>BuyService</display-name>
    <servlet-name>BuyService</servlet-name>
    <servlet-class>kr.or.kosta.moviesystem.buy.BuyService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyService</servlet-name>
    <url-pattern>/BuyService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MovieService</display-name>
    <servlet-name>MovieService</servlet-name>
    <servlet-class>kr.or.kosta.moviesystem.movie.MovieService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieService</servlet-name>
    <url-pattern>/MovieService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationService</display-name>
    <servlet-name>ReservationService</servlet-name>
    <servlet-class>kr.or.kosta.moviesystem.reservation.ReservationService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationService</servlet-name>
    <url-pattern>/ReservationService</url-pattern>
  </servlet-mapping>
</web-app>